$quantity: 20;

html,
body {
	height: 100%;
}

body {
	background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg)
		no-repeat center center fixed;
	background-size: cover;
}

.symbol {
	position: fixed;
	left: 50%;
	top: 50%;
	font-size: 2rem;
	margin: -1rem 0 0 1rem;
	animation: ease 200s alternate infinite;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.4);

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transform-origin: -10vw;
		opacity: 0.4;
		animation: drift ease alternate infinite;
	}

	// Removed &::after
}

@for $i from 1 through $quantity {
	$steps: random(12) + 16;
	$rotationSpeed: random(10) + 8s;

	.symbol:nth-child(#{$i}) {
		color: #{mix(#123456, #abcdef, random(100) / 100)};
		animation-name: move#{$i};

		&::before {
			animation-duration: #{$rotationSpeed};
		}
	}

	@keyframes move#{$i} {
		@for $step from 0 through $steps {
			#{percentage($step / $steps)} {
				transform: translateX(#{random(100) - 50}vw)
					translateY(#{random(100) - 50}vh)
					scale(#{random(75) / 100 + 0.25});
			}
		}
	}
}

@keyframes drift {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
