@import './components/background.css';
@import './components/About.css';
@import './components/Header.css';

:root {
  --bg-color: #f8f9fa;
  --text-color: #343a40;
  --border-color: #e0e0e0;
  --link-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.main {
  background: var(--bg-color);
  padding-top: 100px;
}