body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #343a40;
  margin-bottom: 20px;
}

.experience-item,
.education-item {
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  background-color: #e9ecef;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}